data/
severstal/
models/
yolo_dataset/
dino_features/
results/
DINO/
dataset/
visualize/
patches/

# Игнорировать ВСЕ файлы весов YOLO
*.pt
*.pth
*.bin
*.onnx
*.torchscript
scripts.sh

# Игнорировать папки с моделями
models/
weights/
checkpoints/
runs/